@use "../theme" as *;

.icon-btn {
  background: transparent;
  border: none;
  padding: 2px 6px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  color: inherit;

  &.align-right {
    margin-left: auto;
    align-self: flex-start;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    color: $color-error;
  }
}

.corner-btn {
  position: absolute;
  top: 6px;
  right: 6px;
}

